<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>一家餐厅-支付管理</title>
<base href="../">
<link rel="shortcut icon" href="images/eatlogo.jpg">
 <link rel="stylesheet" href="css/reset.css">
 <link rel="stylesheet" href="css/main.css">
 <link rel="stylesheet" href="css/pay.css">
</head>

<body>
	<div class="head" id="login_info">
    	<div class="header">
    		<div class="right_fr">
            	<div class="login_info fl" v-if="onlogin">
                	欢迎：<em>{{loginName}}</em>
                </div>
                <div class="login_btn fl" v-else="onlogin">
                	<a href="login.html">登录</a>
                    <span> | </span>
                    <a href="register.html">注册</a>
                </div>
            	 <div class="user_link fl">
                    <span> | </span>
                    <a href="front/cart.html">我的购物车</a>
                    <em class="" id="show_count">{{cartCount}}件</em>
                    <span> | </span>
                    <a href="front/user.html" target="_blank">用户中心</a>
           		 </div> 
             </div>  
    	</div>
    </div>
    
    <div class="sec">
       <div class="sec_logo">
         <a href="index.html"> <img src="images/主页1.png" /></a> 
       </div>
    </div>
 <div id="app"> 
     <!-- 收货地址 -->
   	<!-- 支付方式 -->	
    <h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="zhifubao"></label>
		</div>
	</div>
   	<!-- 商品列表 -->
    <h3 class="common_title">菜品列表</h3>
	<div class="common_list_con clearfix" id="order_list">
		<ul class="goods_list_th clearfix">
			<li class="col01">菜品名称</li>
			<li class="col03">菜品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>
		
		<ul class="goods_list_td clearfix" v-for="(item,index) in orders">
			<li class="col01">{{index+1}}</li>			
			<li class="col02"><img :src="item.pics"></li>
			<li class="col03">{{item.fname}}</li>
			<li class="col04"></li>
			<li class="col05">{{item.price}}</li>
			<li class="col06">{{item.num}}</li>
			<li class="col07">{{item.num * item.price}}</li>	
		</ul>

	</div>
     
    <!-- 金额结算 -->	
    <h3 class="common_title">总金额结算</h3>
	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em id="total_count">{{totalCount}}</em>份菜品，总金额<b id="total_price">{{totalPrice}}</b></div>
			<div class="total_pay">需付款：<b id="real_price">{{totalPrice}}</b></div>
		</div>
	</div>
	<div class="order_submit clearfix">
		<a href="javascript:void(0)" id="order_btn">提交订单</a>
	</div>	
    
    <div class="popup_con">
		<div class="popup">
		      <p>正在处理订单</p>
		</div>
		
		<div class="mask"></div>
	</div>    
 </div>         
    <!-- 版权所有 -->
    <div class="footer">
    	<div class="foot_link">

        </div>
    	<p>CopyRight &copy; 2020 YXX All Rights</p>
    </div>
    
    <!--  注意引入顺序 -->
	<script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.params.js"></script>
    <script src="js/slide.js"></script>
    <script src="js/vue.js" type="text/javascript"></script>
    <script src="js/axios.js" type="text/javascript"></script>
    <script src="js/qs.js" type="text/javascript"></script>
    <script src="js/checklogin.js" type="text/javascript"></script>
<script type="text/javascript">
var cnos="";
let vm = new Vue({
	el:"#app",
	data:{
		orders:[],
		totalPrice:0,
		totalCount:0,
		addrs:[]
	},
	mounted:function(){
		
		cnos = localStorage.getItem("cnos");
		if(!cnos){
			location.href="front/cart.html";
			return;
		}
		localStorage.removeItem("cnos");
		 axios.post("cart",qs.stringify({op:"findByCnos",cnos:cnos})).then(result => {
			 
			 this.orders = result.data.data;
			 
			// this.carts.forEach(function(item,index){})
			 this.orders.forEach( (item,index) => {
				 this. totalPrice += item.num * item.price;
				 this.totalCount += item.num;
			 })
		 })
		 /*
		 axios.post("table",qs.stringify({op:"finds"})).then(result =>{
			if(result.data.code==200){
				this.addrs = result.data.data;
				 this.$nextTick(function(){
					 bindInfo()
				 })
			} 
		 })
		 */
	 },
})

function bindInfo(){
	$("#addr_list>dd").click(function(){
		$("#addr_list>dd").removeClass("selectedAddr");
		$(this).addClass("selectedAddr");
	});
}
function showAddrDiv() {
	$("#myform")[0].reset();
	$("#addr_div").css("display", "block");
}

function hiddenDiv(){
	$("#addr_div").css("display", "none");
}

function gotopay() {
	 url = "wappay/pay.jsp?amount="+amount;//此处拼接内容
    window.location.href = url;
}

$('#order_btn').click(function() {
	//取收货地址
	var totalPrice=$.trim($("#total_price").text().replace("元",""));
	$.post("order",{op:"add",cnos:cnos,totalPrice:totalPrice},result => {
		if(result.code == 200){
			$('.popup_con').fadeIn('fast', function() {
				setTimeout(function(){
					$('.popup_con').fadeOut('fast',function(){
						amount = $("#real_price").text();
						gotopay();
					});	
				},3000)
				
			});
		}else{
			alert("下单失败，请稍后重试...");
		}
	},"json")
	/*$('.popup_con').fadeIn('fast', function() {
		setTimeout(function(){
			$('.popup_con').fadeOut('fast',function(){
				window.location.href = 'index.html';
			});	
		},3000)
		
	});*/
});


</script>
</body>
</html>