<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一家餐厅-美食详情</title>
<link rel="shortcut icon" href="images/eatlogo.jpg">
 <link rel="stylesheet" href="css/reset.css">
 <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/foods_details.css">
</head>
<body>
	<div class="head" id="login_info">
    	<div class="header">
    		<div class="right_fr">
            	<div class="login_info fl" v-if="onlogin">
                	欢迎：<em>{{loginName}}</em>
                </div>
                <div class="login_btn fl" v-else="onlogin">
                	<a href="login.html">登录</a>
                    <span> | </span>
                    <a href="register.html">注册</a>
                </div>
            	 <div class="user_link fl">
                    <span> | </span>
                    <a href="front/cart.html">我的购物车</a>
                    <em class="" id="show_count">{{cartCount}}件</em>
                    <span> | </span>
                    <a href="front/user.html" target="_blank">用户中心</a>
           		 </div> 
             </div>  
    	</div>
    </div>
    
     <div class="sec">
       <div class="sec_logo">
         <a href="index.html"> <img src="images/主页1.png" /></a> 
       </div>
       <div class="sec_search">
          <input type="text" class="sec_search_text" />
          <button class="sec_search_btn"></button>
       </div>
    </div>
<div id="foods">
    <div class="dt_main">
        <div class="foods_tname" id="foods_tname">
        </div>
      <hr></hr>
      <div class="details_bg">
        <div class="dt_pic" id="dt_pic">
            <img v-for="pic in pics" :src="pic" class="pic"></img>
        </div>
        <div class="dt_main_intro">
            <div class="foods_fname">
                {{foods.fname}}
            </div>
            <div class="dt_price">
                 <h2>单价:<em>{{foods.price}}</em></h2>
           </div>
            <div class="dt_nums">
                 <label>数量:<input type="number" class="ipt_num" id="number" value="" v-model="nums"/></label>
                 <label class="nums_warn" id="nums_warn"></label>
           </div>
            <div class="dt_amount">
                <label>总价:<em>{{foods.price * nums}}</em></label>
            </div>
            <div class="dt_cart">
                 <a @click="addCart()">加入购物车</a>
            </div>
        </div>
        </div>
    </div>
          <div class="footer">
    	<div class="foot_link">

        </div>
    	<p>CopyRight &copy; 2020 YXX All Rights</p>
    </div>
</div>
</body>
 <script src="js/jquery-3.4.1.min.js"></script>
 <script src="js/vue.js" type="text/javascript"></script>
<script src="js/axios.js" type="text/javascript"></script>
<script src="js/qs.js" type="text/javascript"></script>
 <script src="js/checklogin.js" type="text/javascript"></script>
<script>
let vm = new Vue({
	el: "#foods",
	data: {
		foods: [],
		pics:[],
		nums:1
	},
	methods: {
		addCart:function(){
			//先判断在购物车中是否存在->从购物车中判断
			if(!login.$data.loginId){
				alert("请先登录...");
				location.href="login.html";
				return;
			}
			//判断该商品在购物车中是否存在 ->从购物车中判断
			if(checkNum()==false){
				return;
			}
			let lcarts = login.$data.carts;
			if(lcarts.length >0){//说明购物车中有数据
				for(let i=0,len=lcarts.length;i<len;i++){
					if(lcarts[i].fno == this.foods.fno){//说明这个商品已经购买过
						axios.post("cart",qs.stringify({op:"update",fno:this.foods.fno,num: this.nums, cno:lcarts[i].cno})).then(result => {
							if(result.data.code == 200){
								alert("加入购物车成功...");
								console.info(200);
							}else{
								alert("加入购物车失败")
							}
						})
						return;
					}
				}
			}
			
			axios.post("cart",qs.stringify({op:"add",fno:this.foods.fno, num: this.nums, mno:login.$data.loginId})).then(result =>{
				if(result.data.code == 200){
					login.$data.cartCount = login.$data.cartCount +1;//购物车中商品种类+1;
					
					//将这个新种类添加到cart中
					let newObj = {};
					newObj.cno = result.data.msg;
					newObj.fno = this.foods.fno;
					login.$data.carts.push(newObj);
					alert("加入购物车成功...");
					
				}else{
					alert("加入购物车失败...");
				}
			})
		}
	},
	mounted:function(){
		axios.all([getFoodsByFno()]).then(axios.spread((result) =>{
			this.foods = result.data.data;
			this.pics = result.data.data.pics.split(";");
			
			this.$nextTick(function(){
				showPics();
			})
		}));
	}
})

function getFoodsByFno(){
	var hash = decodeURI(location.hash);
	if(hash == "" || hash.indexOf("&")<=0){
		location.href="index.html";
		return;
	}
	
	hash = hash.replace("#", "").split("&");
	$("#foods_tname").text(hash[1]);
	
	return axios.post("foods", qs.stringify({op:"findByFno", fno:hash[0]}));
}

function showPics() {
	var imglen = $("#dt_pic>img").length;
	if(imglen >1){
		var i = 0;
		setInterval(()=>{
			$("#dt_pic>img").css("display", "none");
			$("#dt_pic>img").eq(i).css("display", "block");		
			i = (i + 1) % imglen;
		}, 2000);
	}
}

function checkNum(){
	var nums=document.getElementById("number").value;;
	let tt = /^[0123456789]\d{0,3}$/; 
	if(tt.test(nums)){
	}else{
		document.getElementById("nums_warn").style="color:red";
		document.getElementById("nums_warn").textContent="请输入正确的数量！！";
		return false;
	}
	
}

</script>
</html>
