@charset "utf-8";
/* CSS Document */

/*商品列表样式*/
/* 二级页面面包屑导航 */
.breadcrumb{
	width:1200px;
	height:50px;
	margin:0 auto;
	font-size:14px;
}
.breadcrumb a{
	line-height:40px;
	color:#37ab40;
}
.breadcrumb a:hover{
	color:#ff8800;
}
.breadcrumb span{
	line-height:40px;
	color:#666;
	padding:0 5px;
}

/* 分页样式 */
.pagenation{
	height:32px;
	text-align:center;
	margin:30px auto;
}
.pagenation li{
	display:inline-block;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	margin-right: 10px;
}
.pagenation ul li a {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	background-color:#CCC;
	border: 1px solid #d3dbde;
	color: #08c;
}
.pagenation .active{
	background-color:gold;
	color:#43a200;
}
.pagenation ul li a:hover{
	color: red;
}



.top{
	width:100%;
	height:300px;
}
//顶部图片展示
.top_main{
	margin-left:10%;
	width:90%;
	height:280px;
}


.top_pic{
	width:80%;
	max-height:280px;
    margin-left:10%;
}

.right_fr{
	margin-right:10px;
	float:right;
}

#show_count{
	color: blue;
}

.recommend{
	width:100%;
	height:318px;
	background: #FF6633	;
}

.rec_title{
	text-align:center;
	color:red;
}
.rec_pic{
	width:335px;
	height:200px;
}
.rec_foods{
	width:340px;
	height:260px;
	border:2px solid #7FFFD4;
	margin-left:120px;
	float:left;
}
.rec_fname{
	font-size: 24px;
	color:blue;
	text-align:center;
}

.rec_sales{
	text-align:right;
	color:red;
}

#demo{
	width:100%;
}
.main{
	margin-top:20px;
	width:90%;
}
.foods{
	width:160px;
	margin-left:80px;
	margin-top:40px;
	height:256px;
	border:2px solid  #666666;
	float:left;
}

.foods:hover{
	color:red;
}
.foods_img{
	width:160px;
	height:170px;
	border:2px solid red;
}
.foods_img:hover{
	width:160px;
	height:180px;
	border:2px solid red;
}
.foods_name{
	text-align:center;
}

.foods_price{
	text-align:center;
}

.foods_btn{
	float:right;
}

