@charset "utf-8";
/* CSS Document */

.dt_main{
	height:600px;
	width:100%;
	margin-top:10px;
}
.dt_pic{
	margin-left:100px;
	height:300px;
	width:300px;
	border:2px solid red;
	float:left;
}